@import "../node_modules/normalize.css/normalize.css"

body
 font-family 'Lato', sans-serif
 line-height 1.2

.container
  max-width 920px
  padding 0 20px;
  margin 0 auto
  box-sizing border-box

  ul
    list-style none

  .header
    font-weight 200
    margin 20px 0 0 0

    color #333

    &-title
      display inline-block
      white-space nowrap
      font-size 48px
      transform-origin 0 0

    &-description
      font-size 20px

  .article
    font-weight 200
    font-size 16px
    margin 10px 0

    &-title
      white-space nowrap
      margin 0 0 0 0
